	body{
		background: #FFF!important;
	}
	/*标题模块*/
	.order_header{
		overflow: hidden;
	}
	.order_header li{
		width: 20%;
		height: 0.8rem;
		line-height: 0.8rem;
		float: left;
		font-size: 0.26rem;
		text-align: center;
		border-bottom: 1px solid #eaecef;
		color: #555;
	}
	.order_header li span{
		display: inline-block;
		height: 100%;
	}
	.ordernumber span{
		color: #33CCFF!important;
		border-bottom: 2px solid #33CCFF!important;
	}
	/*内容模块*/
	.order_content{
		text-align: center;
		font-size: 0.28rem;
		color: #888888;
	}
	.no_order img{
		width: 1.14rem;
		height: 1.44rem;
		margin-bottom: 0.35rem;
	}
	.recharge{
		margin-bottom:0!important;
		border-bottom: 2px solid #FFF;
	}
	.recharge li{
		margin: 0!important;
	}
	.allprice{
		margin: 0.1rem 0;
		text-align: right;
		padding-right: 0.2rem;
		color: #333333;
	}
	.recharge li:nth-of-type(3) p:nth-of-type(1){
		color: #333!important;
	}
	.recharge li:nth-of-type(3) p:nth-of-type(2){
		text-decoration: line-through;
	}
	.monopoly{
		text-align: left;
	}
