	body{
		background: #efefef;
	}
	/*头像部分*/
	.header{
		line-height: 0.9rem!important;
	}
	.sculpture{
		background: url(../img/banner/banner_3.png)50% 50% no-repeat;
		background-size: 100% auto;
		font-size: 0.2rem;
	}
	.sculpture li:nth-of-type(1){
		height: 2.3rem;
		text-align: center;
		width: 100%;
		padding-top: 0.38rem;
	}
	.scu_circle{
		display: inline-block;
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 0.6rem;
		border: 2px solid #FFFFFF;
		background: url(../img/member-1.jpg)50% 50% no-repeat;
		background-size: 100% auto;
	}
	.scu_name{
		display: block;
		font-size: 0.3rem;
		color: #FFFFFF;
	}
	.sculpture li:nth-of-type(2){
		width: 100%;
		height: 0.9rem;
		text-align: center;
		color: #e3e3e0;
		background-color: rgba(31,35,12,0.2);
		position: relative;
	}
	.sculpture li:nth-of-type(2) div{
		width: 50%;
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
	}
	
	.collect{
		border-right: 1px solid #695d39;
		left: 0;
	}
	.track{
		right: 0;
	}
	.sculpture li:nth-of-type(2) div P:nth-of-type(1){
		padding-bottom: 0.1rem;
	}
	
	/*待付款部分*/
	.WaitHandle{
		background: #FFFFFF;
		font-size: 0.2rem;
		color: #666666;
		text-align: center;
		overflow: hidden;
		margin-bottom: 0.2rem;
	}
	.WaitHandle li{
		width: 20%;
		float: left;
		margin: 0.2rem 0;
		position: relative;
	}
	.WaitHandle span{
		display: block;
		margin-top: 0.1rem;
	}
	.WaitHandle img{
		width: 0.34rem;
		height: 0.34rem;
	}
	.wait_one{
		display: inline-block;
		width: 16px;
		height: 16px;
		line-height: 16px;
		border-radius: 8px;
		font-size: 10px;
		text-align: center;
		border: 1px solid red;
		color: red;
		background: #fff;
		position: absolute;
		top: -25%;
		left: 60%;
		transform: translate(-50%,0);
		
	}
	
	/*订单拍单部分*/
	.bill,.bill_2{
		background: #FFFFFF;
		height: 0.8rem;
		line-height: 0.8rem;
		font-size: 0.28rem;
		overflow: hidden;
	}
	.bill_2{
		margin-top: 0.02rem;
	}
	.bill_pic ,.bill_pic_2{
		float: left;
		width: 10%;
		text-align: center;
	}
	.bill_pic img,.bill_pic_2 img{
		width: 0.34rem;
		height: 0.34rem;
		vertical-align: middle;
	}
	.bill_goods,.bill_goods_2{
		width: 90%;
		float: right;
		text-align: left;
		color: #777777;
	}
	.bill_goods{
		height: 0.799rem;
		/*border-bottom: 1px solid #efefef;*/
	}
	
	/*尾部除公共样式public_foot.css外设置的属性*/
	.foot_warelist li:nth-of-type(3) span{
		color: #33CCFF;
	}
	.collections,.tracks{
		cursor: pointer;
	}