.header{height: 0.8rem;width: 100%;background: #33ccff;}
.write-a{font-size: 0.4rem;display: block;
    text-align: center;color: #FFFFFF;line-height: 0.805rem;}
.tupian-a{position: absolute;height: 0.4rem;left:0.3rem;top: 0.2rem;}

.kuang{width: 100%;height: 0.8rem;overflow: hidden;}
.write-b{font-size: 0.3rem;display: block;height: 0.8rem;box-sizing: border-box;
width: 50%;float: left;text-align: center;line-height: 0.805rem;
border-bottom: 0.02rem solid #dddddd;}

.write-c{font-size: 0.3rem;display: block;box-sizing: border-box;
height: 0.8rem;width: 50%;float: right;text-align: center;line-height: 0.805rem;
border-bottom: 0.04rem solid #33ccff;}


.kuang-b{margin: 0.4rem 0.3rem ;}


.shuru-a{border-top-right-radius: 0.1rem;background:url(../img/jpg-ad.png)no-repeat 0.35rem center;    outline: medium;
    border-top-left-radius: 0.1rem;
    border: 0.01rem solid #b0b0b0;
    box-sizing: border-box;
    padding-left: 1.58rem;
    font-size: 0.26rem;
    margin: 0.38rem auto 0;
    height: 1.11rem;
    width: 100%;
    display: block;}
.shuru-b{background:url(../img/jpg-aq.png)no-repeat 0.35rem center;    outline: medium;
   
    border: 0.01rem solid #b0b0b0;
    box-sizing: border-box;
    padding-left: 1.58rem;
    font-size: 0.26rem;
   margin: 0 auto;
    height: 1.11rem;
    width: 100%;
    display: block;border-top: 0 solid;}
.shuru-c{background:url(../img/jpg-af.png)no-repeat 0.35rem center;border-bottom-left-radius: 0.1rem;    outline: medium;
    border-bottom-right-radius: 0.1rem;

   
    border: 0.01rem solid #b0b0b0;
    box-sizing: border-box;
    padding-left: 1.58rem;
    font-size: 0.26rem;
   margin: 0 auto;
    height: 1.11rem;
    width: 100%;
    display: block;border-top: 0 solid;}

.shuru-d{height: 0.54rem;width: 1.3rem;box-sizing: border-box;background: #edf7ff;text-align: center;border: 0;
    right: 0.54rem;
    margin-top: -0.85rem;
    position: absolute;}




.weibu{height: 0.8rem;margin: 0 0.3rem 2.3rem 0.3rem;background: #33CCFF;border-radius: 0.1rem;}
.write-d{font-size: 0.3rem;display: block;text-align: center;line-height: 0.805rem;color: #ffffff;}









