html{
	font-size: 100px;
}
.head{
	text-align: center;
	height:.94rem;
	background-color: #33ccff;
	line-height: .94rem;
	position: relative;
}
.head a{
	width:.2rem;
	height:.2rem;
	border-bottom: solid 3px #fff;
	border-left:solid 3px #fff;
	transform: rotate(45deg) translateY(-50%);
	display: inline-block;
	position: absolute;
	left:.3rem;
	top:50%;
}
.head span{
	font-size: .34rem;
	color:#fff;	
	display: inline-block;
}
.people{
	position: relative;
	padding:.3rem 0;
	border-bottom: solid #eee .18rem;
}
.people img{
	width:.29rem;
	position: absolute;
	top:50%;
	left:.33rem;
	transform: translateY(-50%);
}
.detail{
	width: 4.15rem;
	margin: 0 auto;
}
.people a{
	width: .2rem;
	height:.2rem;
	border-bottom: solid 1px #bdbdbd;
	border-right:solid 1px #bdbdbd;
	transform: rotate(-45deg) translateY(-50%);
	display: inline-block;
	position: absolute;
	top:50%;
	right:.33rem;
}
.detail span:first-child{
	font-size:.28rem;
	padding-right:.3rem;
}
.detail span:nth-child(2){
	font-size:.24rem;
}
.detail p:nth-child(3){
	font-size: .24rem;
	padding: .15rem 0 .1rem 0;
}
.detail p:nth-child(4){
	font-size: .2rem;
	color:#d9a952;
}
.cat{
	width:.34rem;
	padding:.3rem .24rem;
}
.shop span:nth-child(2){
	font-size: .24rem;
	padding-top: .3rem;
	display: inline-block;
}
.book{
	position: relative;
	overflow: hidden;
	background-color: #f6f6f6;
	border-bottom: solid .2rem #fff;
}
.book img{
	padding: .15rem .24rem;
	width:1.54rem;
	float:left;
}
.seven{
	width:50%;
	float:left;
	padding-top: .15rem;
}
.seven p{
	font-size:.24rem;
}
.seven a{
	font-size: .18rem;
	color:#de2d3d;
	padding:0 .06rem;
	border:solid 1px #de2d3d;
	border-radius:.05rem ;
	margin-top: .16rem;
	display: inline-block;
}
.number{
	text-align: right;
	position: absolute;
	right: .26rem;
    top: .15rem;
}
.number p{
	font-size: .20rem;
}
.number a{
	font-size: .18rem;
	color:#a4a4a4;
}
.list{
	padding:0 .24rem;
	overflow: hidden;
	border-bottom: solid .18rem #eee;
	margin-bottom: 1.3rem;
}
.list li{
	padding:.3rem 0;
	position: relative;
}
.list li:not(:last-child){
	border-bottom: solid 1px #dfdfdf;
}
.list span:first-child{
	font-size:.28rem;
	color:#1a2632;
}
.ways{
	overflow: hidden;
}
.ways span:nth-child(2){
	float:right;
	font-size: .28rem;
	padding-right: .36rem;
}
.arrow{
	display: block;
	width:.18rem;
	height:.18rem;
	border-right:solid 1px #c6c6c6;
	border-bottom: solid 1px #c6c6c6;
	transform:rotate(-45deg) translateY(-50%);
	position: absolute;
	right: .1rem;
	top:50%;
}
.botton{
	display: block;
	width:.96rem;
	height:.56rem;
	border: solid 1px #e4e4e4;
	border-radius:.3rem;
	position:absolute;
	right:0;
	top:50%;
	transform: translateY(-50%);
}
.botton a{
	display: block;
    width: .56rem;
    height: .56rem;
    border-radius: 50%;
    border: solid 1px #e4e4e4;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.cur{
	background-color: #33ccff !important;
}
.buyer input{
	width:73%;
	border: none;
	outline: none;
	font-size: .28rem;
	color:#c7c7c9;
}
.calculate{
	float: right;
}
.calculate a,span{
	font-size: .24rem;
	color:#0f1923;
}
.price{
	font-size: .3rem;
	color:#bb1d34;
}
.foot{
	width:100%;
	position: fixed;
	bottom:0;
	height:1rem;
	line-height: 1rem;
	border-top:solid 1px #cacaca;
}
.all{
	height:1rem;
	width:70%;
	text-align:right;
	float:left;
	background-color:#fff;
}
.all span:first-child{
	font-size:.28rem;
	color:#0f1923;
}
.all span:last-child{
	padding-right: .22rem;
}
.all i{
	color:#bb1d34;
}
.foot a{
	text-align:center;
	height:1rem;
	width:30%;
	display: block;
	font-size: .3rem;
	color:#fff;
	background-color: #ee8c21;
	float:right;
}

