html{
	font-size: 100px;
}
.head{
	height: 1rem;
	position: relative;
	border-bottom: solid 1px #7b7b7b;
}
.head li{
	display: inline-block;
}
.one a{
	position: absolute;
	left: .4rem;
	top:50%;
	display: inline-block;
	width:.28rem;
	height:.28rem;
	border-bottom: solid 2px #535353;
	border-left: solid 2px #535353;
	transform: rotate(45deg) translate(-50%);
}
.list{
	position: absolute;
	font-size: .38rem;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.shopcar{
	width:.38rem;
	position: absolute;
	top:50%;
	right:1.2rem;
	transform: translate(-50%,-50%);
}
.dot{
	position: absolute;
	color:#7b7b7b;
	top:50%;
	right:.1rem;
	transform: translate(-50%,-50%);
}
.search input{
	display: inline-block;
	text-align: center;
	padding:.2rem;
	box-sizing: border-box;
	width: 100%;
	border: solid .2rem #eee;
	outline: none;
	border-radius:.3rem;
}
.cur{
	position: fixed !important;
	top:0;
	left:0;
	width:100%;
	z-index: 100;
}
.cur input{
	text-align: left !important;
	padding-left:.7rem;
}
.cur img{
	left:.6rem !important;
}
.search{
	position: relative;
	background:#eee;
	text-align: center;
}
.search img{
	width:.36rem;
	position: absolute;
	top:50%;
	left:35%;
	transform: translate(-50%,-50%);
}
.search input::-webkit-input-placeholder{
	color:#cdccd1;
	font-size:.25rem;
}
.cat{
	overflow: hidden;
	padding:.25rem .24rem;
}
.cat span{
	font-size: .24rem;
}
.cat span:nth-child(2){
	padding:0 .1rem 0 .2rem;
}
.cat a{
	text-align: center;
	display: inline-block;
	width:.15rem;
	height:.15rem;
	border-bottom: solid 1px #a9a9a9;
	border-right: solid 1px #a9a9a9;
	transform: rotate(-45deg);
}
.success{
	float:right;
	color:#cd1d43;
}
.cat img{
	width:.34rem;
	height:.26rem;
}
.content{
	position: relative;
	overflow: hidden;
}
.miss{
	position: absolute;
	width:100%;
	height:100%;
	background-color: rgba(51,51,51,0.7);
	z-index: 1;
	display: none;
}
.shop{
	background-color: #f6f6f6;
	padding:.2rem .24rem;
	position: relative;
	overflow: hidden;
}
.shop:not(:last-child){
	border-bottom: solid .2rem #fff;
}
.shop img{
	width:1.92rem;
	float: left;
	padding-right: .2rem;
}
.recharge{
	font-size: .26rem;
	width: 50%;
    margin: 0 auto;
}
.price{
	text-align: right;
    position: absolute;
    top: .2rem;
    right: .24rem;
}
.price_one{
	font-size: .26rem;
}
.price_two{
	font-size: .26rem;
	color:#868686;
	text-decoration:line-through;
}
.number{
	font-size: .2rem;
	color:#868686;
}
.foot{
	padding:.28rem .26rem;
	text-align: right;
	border-bottom: solid 1px #e5e5e5;
}
.foot a,.foot span{
	font-size:.24rem;
	color:#a7abac;
}
.foot i{
	color:#3d3e40;
}
.zero{
	font-size: .28rem;
}
.button{
	text-align: right;
	padding:.24rem .2rem;
	border-bottom: solid .18rem #eee;
}
.button button{
	font-size: .24rem;
	width:1.5rem;
	padding:.12rem 0;
	background-color: #fff;
	outline: 0;
	border-radius:.1rem;
}
.delete{
	border: solid 1px #bdbdbd;
	color: #101e21;
}
.evaluate{
	border:solid 1px #f9185a;
	color:#f9185a;
	margin-left: .15rem;
}
.bottom{
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.7);
    z-index: 1;
    display: none;
}

