html{
	font-size:100px;
}
.head{
	height:.9rem;
	background-color: #33ccff;
	line-height: .9rem;
	position: relative;
	text-align: center;
}
.head a{
	display: inline-block;
	font-size: .28rem;
	color:#fff;
	transform: translateY(-50%);
	position: absolute;
	top:50%;
}
.head a:first-child{
	left:.22rem;
}
.head span{
	font-size: .32rem;
	color:#fff;
}
.head a:nth-child(3){
	right:.22rem;
}
.top{
	text-align: center;
	background: url(../img/portfolio/item4.jpg) no-repeat;
	background-size: 100%;
	height:3.2rem;
	position: relative;
}
.top img{
	width: 1.14rem;
	height:1.14rem;
	border: solid 2px #fff;
	border-radius: 50%;
	margin-top: .4rem;
}
.moliry{
	font-size:.3rem;
	color:#fff;
	line-height: 1;
	margin-top: .2rem;
}
.black{
	background-color: rgba(0,0,0,0.5);
	overflow: hidden;
    padding: .16rem 0 .1rem 0;
    width: 100%;
    position: absolute;
    bottom:0;
}
.shops{
	width:50%;
	float: left;
}
.solid{
	border-right:solid 1px #a4a4a4;
	box-sizing: border-box;
}
.shops span,.shops p{
	font-size:.24rem;
	color:#fff;
}
.serve{
	width:100%;
	overflow: hidden;
	height:1.1rem;
	border-bottom: solid .2rem #efefef;
}
.serve li{
	padding:.22rem;
	text-align: center;
	float: left;
	width:20%;
	box-sizing: border-box;
}
.serve img{
	height:.28rem;
	padding-bottom: .12rem;
}
.serve p{
	font-size: .2rem;
	color:#666;
}
.list{
	position: relative;
    margin-left: .72rem;
}
.list img{
	height:.34rem;
	position: absolute;
    left: -.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.my li span{
	line-height: .82rem;
	font-size: .3rem;
	color:#666;
}
.smike img{
	height:.34rem;
	padding:.24rem .2rem;
}
.list{
	border-bottom: solid 1px #efefef;
}
.singleShot{
	border-bottom: solid .2rem #efefef;
}
.suggestion{
	border-bottom: solid 3rem #efefef;
}
.foot{
	position: fixed;
	width: 100%;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	border-top:solid 1px #808080;
	background-color: #fff;
}
.foot li{
	text-align: center;
}
.foot p{
	font-size: .2rem;
	color:#808080;
	padding-bottom: .16rem;	
}
.foot li img{
	width: .43rem;
    padding: .12rem 0 .1rem 0;
    height: .47rem;
}