html{
	font-size:100px;
}
.head{
	height:.9rem;
	background-color: #33ccff;
	text-align: center;
	line-height: .9rem;
	position: relative;
}
.head a{
	display: inline-block;
	width:.2rem;
	height:.2rem;
	border-bottom: solid 2px #fff;
	border-left: solid 2px #fff;
	transform:rotate(45deg) translateY(-50%);
	position: absolute;
	top:50%;
	left:.2rem;
}
.head span{
	color:#fff;
	font-size: .36rem;
}
.success{
	text-align: center;
	font-size: .42rem;
	color:#ff0000;
	padding:.59rem 0;
	border-bottom: solid .2rem #eee;
}
.present{
	overflow: hidden;
	border-bottom:  solid .2rem #eee;
}
.present img{
	padding:.4rem .3rem;
	float: left;
	width:.25rem;
}
.detail{
	float: left;
	padding:.24rem 0;
}
.detail span,.detail p{
	font-size: .3rem;
	color:#888;
}
.phones{
	padding-left:.2rem;
}
.detail p{
	padding-top: .1rem;
}
.logo{
	padding:.3rem .26rem;
}
.logo img{
	width:.35rem;
}
.logo span{
	font-size: .24rem;
	color:#cecfd1;
	padding:0 .06rem 0 .2rem;
}
.logo a{
	display: inline-block;
	width:.15rem;
	height:.15rem;
	border-bottom: solid 1px #9a9a9a;
	border-right: solid 1px #9a9a9a;
	transform:rotate(-45deg) ;
}
.content{
	position: relative;
	overflow: hidden;
	padding:.21rem .26rem .18rem .21rem;
	background-color: #f6f6f6;
	border-bottom: solid .2rem #fff;
}
.content img{
	padding: 0 .24rem .94rem 0;
	width:1.94rem;
	float: left;
}
.recharge{
	font-size: .24rem;
	margin: 0 auto;
	width:2.2rem;
}
.number{
	text-align: right;
	position: absolute;
	top:.21rem;
	right:.26rem;
}
.number span,.number p{
	font-size: .2rem;
}
.number a{
	font-size: .18rem;
}
.number a,.number p{
	color:#c3c3c3;
}
.number p{
	text-decoration: line-through;
}
.button{
	position: absolute;
	bottom: .18rem;
	right:.21rem;
}
.advisory,.afterSales{
	font-size: .26rem;
	width:1.5rem;
	padding:.1rem 0;
	border: solid 1px #c8c8c8;
	background-color: #fff;
	border-radius:.1rem ;
	outline: 0;
}
.afterSales{
	margin-left: .2rem;
}
.prices{
	position: relative;
	overflow: hidden;
	padding:.24rem .24rem .3rem .24rem;
	border-bottom: solid 1px #e8e8e8;
}
.prices span{
	float:right;
}
.prices img{
	width:.22rem;
	position: absolute;
	bottom: -.1rem;
	right:.5rem;
	background-color: #fff;
}
.shopTotal,.extra{
	font-size:.2rem;
	color:#979797;
}
.extra{
	padding:.12rem 0;
}
.orders,.pay{
	font-size:.28rem;
	color:#454648;
}
.pay{
	padding:.26rem .24rem .29rem .24rem;
	overflow: hidden;
	border-bottom: solid .2rem #eee;
}
.pay span{
	color:#d91e4b;
	float:right;
} 
.check{
	overflow: hidden;
}
.check p{
	font-size: .24rem;
	padding:.36rem .3rem .36rem .24rem;
	overflow: hidden;
	line-height: 1;
	border-bottom: solid 1px #e6e6e6;
	border-top: solid 1px #e6e6e6;
}
.mountan{
	float:right;
	display: block;
	width:.2rem;
	height:.2rem;
	border-bottom: solid 1px #818181;
	border-right:solid 1px #818181;
	transform: rotate(-45deg);
}
.check span{
	font-size: .28rem;
	padding-left: .22rem;
}
.buyer,.phone{
	margin: .15rem 0;
	padding:.15rem 0;
	width:50%;
	float: left;
	text-align: center;
	box-sizing: border-box;
}
.buyer{
	border-right:solid 1px #e6e6e6;
}
.buyer img{
	width:.36rem;
}
.phone img{
	width:.33rem;
}
.foot{
	position: relative;
	padding:.26rem .24rem;
	border-bottom: solid .18rem #eee;
	border-top: solid .18rem #eee;
}
.foot p{
	font-size: .2rem;
	color:#a8a8a8;
	line-height: .36rem;
}
.foot button{
	width:1.2rem;
	padding:.08rem;
	color: #dcdcdc;
	position: absolute;
	top:.18rem;
	right:.24rem;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius:.1rem;
	outline: 0;
}
.footer{
	text-align: right;
	padding:.24rem .2rem;
	border-top:solid 1px #e3e3e3;
}
.footer button{
	font-size: .24rem;
	width:1.5rem;
	padding:.12rem 0;
	background-color: #fff;
	outline: 0;
	border-radius:.1rem;
}
.delete{
	border: solid 1px #bdbdbd;
	color: #101e21;
}
.evaluate{
	border:solid 1px #f9185a;
	color:#f9185a;
	margin-left: .15rem;
}
