html{
	font-size: 100px;
}
input{
	padding:.3rem 0 .3rem .2rem;
	border:solid 1px #e8e8ea;
}
.head{
	background-color: #33ccff;
	height:1.2rem;
	position: relative;
	text-align: center;
}
.head a{
	width:.15rem;
	height:.15rem;
	border-bottom: solid 2px #fff;
	border-left:solid 2px #fff;
	transform:rotate(45deg) translate(-50%);
	display: inline-block;
	position: absolute;
	top:50%;
	left:.58rem;
}
.head span{
	font-size:.3rem;
	color:#fff;
	line-height: 1.2rem;
}
.content{
	margin: .5rem .6rem;
}
.phone,.password{
	width: 100%;
    margin-bottom: .5rem;
}
 input{
	font-size: .24rem;
	border-radius:.2rem;
	outline: none;
}
.content input::-webkit-input-placeholder{
	color:#838383;
	padding-left: .32rem;
}
.send{
	overflow: hidden;
    margin-bottom: .5rem;
    width: 100%;
}
.send input{
	width:65%;
	float: left;
}
button{
	padding:0.3rem 0;
	border-radius:.25rem ;
	background-color:#fa6c62;
	color:#fff;
	outline: none;
	border: none;
	width:30%;
	float:right;
}
.foot{
	background-color: #33CCFF;
	height:.8rem;
	color:#fff;
	font-size: .3rem;
	border-radius:.3rem;
	text-align: center;
	line-height: .8rem;	
	display: block;
}
