html{
	font-size: 100px;
}
.head{
	position: relative;
	text-align: center;
	height:.9rem;
	background-color: #33ccff;
	line-height: .9rem;
}
.head a{
	position: absolute;
	text-align: left;
	left: .22rem;
	width: 1.2rem;
	color:#fff;
	font-size: .28rem;
}
.head span{
	color:#fff;
	font-size: .32rem;
}
.news{
	position: absolute;
    right: .22rem;
    width: .48rem;
    top: 50%;
    transform: translateY(-50%);
}
.content{
	padding-left:.68rem;
}
.round{
	display: block;
	width:.28rem;
	height:.28rem;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0px 0px 0px 1px #999;
	border-radius:.5rem;
	border:solid 4px #fff;
}
.dots{
	position: absolute;
    top: 50%;
    left: -.3rem;
    transform: translate(-50%,-50%);
}
.cur{
	background: #33ccff !important;
	box-shadow: 0px 0px 0px 1px #33ccff;
}
.bicycle{
	display: inline-block;
	margin-top: .2rem;
	position: relative;
	display: flex;
}
.bicycle img{
	width:1.69rem;
	height:1.8rem;
	padding-top:.3rem;
}
.right{
	flex: 1;
	display: flex;
	overflow: hidden;
}
.together{
	float: right;
    width: 70%;
    flex: 1;
    padding-left: .2rem;
}
.top p:first-child{
	word-break: break-all;
	font-size:.3rem ;
	color:#000;
	font-weight:bold;
}
.top span{
	display: inline-block;
	font-size:.24rem ;
	color:#999;
	padding: .2rem .5rem .15rem 0;
}
.top a{
	text-align: center;
	color:#fff;
	font-size: .2rem;
	display: block;
	width:1rem;
	background-color: #33cc33;
	padding:.05rem 0;
}
.undown{
	position: relative;
	padding-bottom:.1rem;
	border-bottom: solid 1px #999;
}
.undown span:first-child{
	color:#ff9900;
	font-size: .4rem;
}
.undown span:nth-child(2){
	color:#999;
	font-size: .2rem;
	padding-left:.25rem;
	text-decoration: line-through;	
}
.undown span:nth-child(3){
	font-size: .28rem;
	position: absolute;
    bottom: .12rem;
    right: .15rem;
}
.shops{
	padding-left: .68rem;
}
.contents{
	position: relative;
	border-bottom: solid 1px #999;
}
.contents img{
	width:1.8rem;
	padding:.3rem 0;
}
.numbers{
	overflow: hidden;
	position: absolute;
	top:50%;
	left:60%;
	transform: translate(-50%,-50%);
	border: solid 1px #999;
}
.numbers a,.numbers span{
	font-size:.24rem;
	float:left;
	padding:.1rem .15rem;
}
.numbers span{
	border-left: solid 1px #999;
	border-right: solid 1px #999;
}
.delete{
	font-size: .24rem;
	color:#fff;
	position: absolute;
	top:50%;
	right:.3rem;
	transform: translateY(-50%);
	padding:.2rem .3rem;
	background-color: #ff2239;
}

.foot{
	display: flex;
	justify-content: space-around;
	border-top:solid 1px #808080;
	background-color: #fff;
}
.foot li{
	text-align: center;
	display: inline-block;
}
.foot p{
	font-size: .2rem;
	color:#808080;
	padding-bottom: .18rem;	
}
.foot li img{
	width:.47rem;
	height:.46rem;
	padding: .12rem 0 .1rem 0;
}
.tail{
	overflow: hidden;
	width: 100%;
	height:.9rem;
	background-color: #fff;
	border-top:solid 1px #808080;
}
.dot{
	float:left;
	margin:0 .15rem 0 .3rem;
}
.all{
	float: left;
   	width:35%;
    padding: .25rem 0;
}
.all span:nth-child(2){
	font-size: .3rem;
}
.clearing{
	float: left;
	width:35%;
	padding: .13rem 0;
    text-align: right;
}
.clearing span,p{
	font-size:.24rem;
}
.clearing i{
	font-size: .24rem;
	color:#ee8219;
}
.balance{
	width:26%;
	height:.9rem;
    background: #ee8219;
    float: right;
    color:#fff;
    font-size: .3rem;
    border: 0;
}	
.max{
	width: 100%;
	position: fixed;
	bottom: 0;
}
.last{
	display: none;
}
.gray{
	background: #C6C6C6;
}
