html{
	font-size:100px;
}
.head{
	background-color:#33CCFF;
	height:1rem;
	line-height: 1rem;
	position:relative;
}
.head a{
	display: block;
	font-size: .28rem;
	color:#fff;
	position: absolute;
	top:50%;
	left:.3rem;
	transform: translateY(-50%);
}
.head span{
	display: block;
	text-align: center;
	font-size: .3rem;
	color:#fff;
}
.news{
	width:.46rem;
	position:absolute;
    top: 50%;
    right: .3rem;
    transform: translateY(-50%);
}
