<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单列表</title>
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/dingdanliebiao.css" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	</head>

	<body>
		<div class="body">
			<div class="top">
				<a href="javascript:history.back(-1)"></a>
				<p>订单列表</p>
			</div>

			<div class="search">
				<input type="text" v-model="search" placeholder="搜索订单" />
			</div>

			<!--<orders :order='good' v-for="good in goods"></orders>-->

			<div class="product" v-for="order in orders" >
				
				<h1 class="shop">
					长沙菜鸟基地店
					<i></i>
					<span>交易成功</span>
				</h1>
				<product :products='order.products' :product-num='JSON.parse(order.productNum)'></product>
				<!--<div class="content">
					<img src="images/bike.png" />
					<p class="title">
						<b>{{good.products[0].Name}}</b>
					</p>
					<p class="money">
						<span>{{good.products[0].CurPrice}}</span>
						<del>{{good.products[0].OldPrice}}</del>
						<i>X {{JSON.parse(good.productNum)}}</i>
					</p>
				</div>-->
				<p class="total">
					共{{order.totalNum}}件商品， 合计：￥{{order.totalCost}} (含运费￥0.00)
				</p>
				<p class="assess">
					<span class="evaluate" @click="evaluate(order)">评价</span>
					<i class="delete">删除订单</i>
				</p>
			</div>
			<div class="ash">

			</div>
		</div>

		<script src="js/axios.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/dingdanliebiao.js"></script>
	</body>

</html>