 	/*公共标签样式*/
 	*{box-sizing: border-box;margin: 0;padding: 0;cursor: pointer;-webkit-tap-highlight-color:transparent;/*手机背景点击按钮色去掉*/}
	a{text-decoration: none;}
	html{font-family: "微软雅黑";}
	ul{list-style-type: none;}
	body{font-family:"微软雅黑", Arial;}
	input{outline: none;}
	textarea{outline: none;}
	i,em{font-style: normal;}
	strong{font-weight: normal;}

	@media only screen and (min-device-width: 400px) {
		html{font-size: 65px;}
	}
	@media only screen and (max-device-width: 400px) and (min-device-width: 320px) {
		html{font-size: 56px;}
	}
	@media only screen and (max-device-width: 320px) {
		html{font-size: 50px;}
	}