	body{
		background: #fafafa;
	}
	.retrieve_password{
		width: 100%;
		margin: 0.6rem 0rem;
		padding: 0rem 0.7rem 0rem 0.7rem;
	}
	.phone_ipt,.pwd_ipt{
		width: 100%;
		border-radius: 0.4rem;
		border: 1px solid #e8e8ea;
		height: 1.2rem;
		padding-left: 0.6rem;
	}
	.isflag{
		position: relative;
	}
	.isflag_left_ipt{
		width: 70%;
		border-radius: 0.4rem;
		border: 1px solid #e8e8ea;
		height: 1.2rem;
		padding-left: 0.6rem;
		
	}
	.isflag_right_ipt{
		width: 27%;
		height: 1.2rem;
		background: #fa6c62;
		text-align: center;
		display: block;
		border-radius: 0.4rem;
		outline: none;
		border: 0;
		font-size: 0.3rem;
		color: #FFFFFF;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: translate(0,0);
	}
	.foot{
		width: 100%;
		padding: 0rem 0.7rem 0rem 0.7rem;
	}
	.reg{
		width: 100%;
		height: 1.1rem;
		line-height: 1.1rem;
		display: block;
		background-color: #33CCFF;
		color: #FFFFFF;
		font-size: 0.4rem;
		text-align: center;
		border-radius: 0.4rem;
		outline: none;
		border: 0;
	}
	
	
