	/*头部右侧圆*/
	.head_cir{
		width: 0.4rem;
		height: 0.4rem;
		border-radius: 0.2rem;
		background: #FFFFFF;
		display: block;
		position: absolute;
		top: 50%;
		right: 0.34rem;
		transform: translate(0,-50%);
	}
	
	/*第一学期至第四学期*/
	.school{
		overflow: hidden;
	}
	.school li{
		height: 0.88rem;
		line-height: 0.88rem;
		float: left;
		width: 25%;
		text-align: center;
		font-size: 0.28rem;
		color: #999999;
		border-bottom: 1px solid #BFBFBF;
	}
	.school_blue{
		color: #33ccff!important;
		border-bottom: 2px solid #33ccff!important;
	}
	/*商品外省略号的样式*/
		.ware_explain p:nth-of-type(3) span:nth-of-type(5){
		font-size: 0.08rem!important;
		color: #c3c3c3!important;
		margin-left: 0.6rem!important;
	}
	
	/*右侧固定部分*/
	.foot_fixed{
		text-align: center;
		position: fixed;
		top: 50%;
		right: 0;
		transform: translate(0,-50%);
	}
	.foot_fixed li{
		height: 1.2rem;
		width: 1.2rem;
		background: #33CCFF;
		color: #FFFFFF;
		font-size: 0.2rem;
		font-weight: 700;
		padding: 0.2rem;
		margin-bottom: 1px;

		

	}
	.foot_fixed img{
		width: 0.49rem;
		height: 0.45rem;
	}
	.foot_fixed span{
		display: block;
	}
