html{
	font-size: 100px;
}
.head{
	background-color: #33ccff;
	position: relative;
	padding: .3rem 0;
}
.head span{
	display: block;
	width: .2rem;
	height: .2rem;
	position: absolute;
	border-bottom: solid #FFFFFF 2px;
	border-left: solid #FFFFFF 2px;
	-webkit-transform:translateY(-50%) rotate(45deg);
	left: .2rem;
	top: 50%;
}
.head p{
	/*display: block;*/
	font-size: .36rem;
	color: #FFFFFF;
	text-align: center;
}
.trade{
	padding: .6rem 0;
}
.trade p{
	font-size: .42rem;
	color: #ff0000;
	text-align: center;
}
.address{
	overflow: hidden;
	padding: .24rem 0;
	border-top: solid .18rem #EEEEEE;
	border-bottom:solid .18rem #EEEEEE ;
}
.address p{
	font-size: .26rem;
	color: #666666;
	display: inline-block;
}
.address img{
	width: .26rem;
	display: inline-block;
	padding: .26rem 0;
	float: left;
	margin:0 .28rem;
}
.recharge{
	padding: .3rem 0;
	position: relative;
}
.recharge img{
	width: .35rem;
	display: inline-block;
	margin: 0 .25rem;
}
.recharge p{
	color: #2d2e30;
	font-size: .24rem;
	display: inline-block;
}
.recharge span{
	display: block;
	width: .14rem;
	height: .14rem;
	border-bottom: solid #a5a5a5 2px;
	border-left: solid #a5a5a5 2px;
	-webkit-transform:translateY(-50%) rotate(-135deg);
	position: absolute;
	top: 50%;
	right: 20%;
}
