html{
	font-size: 50px;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	 background: url("../img/banner.jpg") no-repeat;
	 /*background-size: 100%;*/
	 width: 100%;
	 height: 13rem;	 
	 display: table;
}
.header a{
	text-decoration: none;
}

.logo a{
	color: blue;
	font-size: .4rem;
	line-height: 2.5rem;
}
.title ul{
	list-style-type: none;
}

.title a{
	display: block;
	color: white;
	font-size: .4rem;
	margin: .1rem 0;
}
.title a:hover{
	color: red;
	background-color: blue;
}
.head{
	background-color:rgba(0,0,0,0.7);
	/*height: 2.5rem;*/
	overflow: hidden;
	padding: 0 15%;
}
.tab{
	width: .8rem;
	height: .6rem;
	border: solid white .04rem;
	float: right;
	margin-top: .9rem;
	/*margin: .85rem auto;*/
}
@media only screen and (max-width:700px) {
	.title ul{
		display:inline-block;
		float: left;
		/*width: 20%;*/
	}
	.tab{
		display:block;
	}
}
@media only screen and (min-width: 700px) {
	.tab{
		display: none;
	}
}
.tab span{
	margin: .1rem auto;
	display: block;
	width: .3rem;
	/*height: .2rem;*/
	border: solid white .02rem;
}

.B{
	font-size: .96rem;
	color: #FFFFFF;
	text-align:center;
	margin: 0 ;
}
.C{
	font-size: .48rem;
	color: #fff;
	text-align: center;
	margin: 1rem 0;
}
.us{
	position: relative;
	display: block;
	font-size: .4rem;
	color: white;
	padding: .3rem 0;
	width: 3rem;
	background-color: rgba(66,177,230,0.7);
	text-align: center;
	margin: 0 auto;
	transform: translateZ(0);	
	transition: all 0.4s ease 0s;
}
.us:hover{
	color: #42b1e6;	
}
.us:before{
	content:'';
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transform: scaleX(0);
	transform-origin: 0 50%;	
	transition-property: transform;
	transition: all 0.4s ease 0s;
}
.us:hover:before{
	transform: scaleX(1);
}
.banner{
	width: 80%;
	text-align: center;
	margin:1rem auto;
}
.banner span{
	display: block;
	width: 2rem;
	margin: .6rem auto;
	border: solid #118cc2 1px;
}
 .p1{
	font-size: .8rem;
	margin: 0;
}
 .p2{
 	width: 100%;
	font-size: .28rem;
	margin: 0;
}
.pic ul{
	width: 80%;
	list-style-type: none;
	font-size: .28rem;
	margin: 0 auto;
}
.pic li{
	width: 49%;
	position: relative;
	overflow: hidden;
	float: left;
	margin: .04rem;
}
.pic li span{
	display: block;
	font-size: .5rem;
	width: 100%;
}
.pic img{
	width: 100%;
}
/*.pic p{
	position: absolute;
	background-color: rgba(204,204,204,0.3);
	color: #fff;
	bottom:-6rem ;
	transition:all 0.8s ease 0s;
	padding: .4rem;
	width: 100%;
}*/
.pic div{
	position: absolute;
	background-color: rgba(204,204,204,0.3);
	color: #fff;
	bottom:-6rem ;
	transition:all 0.8s ease 0s;
	padding: .4rem;
	width: 100%;
}
.pic li:hover div{
	bottom: 0;
}
.pic{
	margin-bottom: 1rem;
	overflow: hidden;
}
@media only screen and (max-width: 667px) {
	.pic li{
		/*margin:0 20%;*/
		width: 100%;
	}
	.pic li img{
		width: 100%;
	}
	.pic p{
		font-size: .1rem;
	}
	.pic li span{
		font-size: .3rem;
	}
}
.say{
	width: 100%;
	height: 12rem;
	text-align: center;
	background: url("../img/testimonial.jpg") 100% 100% no-repeat;
	background-attachment: fixed;
	text-align: center;
}
.say .blue{
	width: 100%;
	height: 12rem;
	background-color: rgba(66,177,230,0.5);
	padding-top: .3rem;
}
.say p{
	font-size: .8rem;
	color: #fff;
	display: block;
	margin: 0 auto;
	width: 70%;
	
}
.say span{
	display: inline-block;
	width:3rem;
	border: solid white .02rem;
	margin: .8rem;
	
}
.say img{
	width: 2rem;
	height: 2rem;
	border: solid white .04rem;
	border-radius: 1rem;
	display: block;
	margin: .4rem auto;	
}
.say p{
	font-size: .3rem;
}
.say .what{
	font-size: .8rem;
	margin-top: 1.4rem;
}
.say .katty{
	font-weight: bold;
	font-size: .35rem;
	margin: .4rem auto;
	
}
/*.box img{
	margin: 0 auto;
}*/
.foot{
	width: 80%;
	margin: 0 auto;
}
.foot .me{
	font-size: .4rem;
	font-weight: bold;
	border-bottom: solid #118cc2 .02rem;
	padding: .2rem 0;
	margin: .2rem 0;
}
.foot ul{
	list-style-type: none;
}
.foot li{
	text-decoration: none;
	font-size: .3rem;
	color: black;
}
.bottm{
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	margin-top: .8rem;
	
	background-color: #2e2e2e;
}
.bottm p{
	font-size: .24rem;
	color: #ababab;
}

