html{
	font-size: 100px;
}
@media only screen and (min-width: 414px) and (max-width: 640px) {
	html{
 	     font-size: 64px;
       }
}
@media only screen and (min-width: 320px) and (max-width: 414px) {
	html{
		font-size: 50px;
	}
}
.head{
	background-color: #33ccff;
	text-align: center;
	height: .9rem;
	padding: 0 .15rem;
	line-height: .9rem;
}
.head p{
	font-size: .3rem;
	color: #FFFFFF;	

	float: left;
	text-align: left;
	position: absolute;
}
.head a{
	font-size: .3rem;
	color: #FFFFFF;	
}
.switch{
	width: 1.2rem;
	text-align: center;
}
.finish{
	width: 1.2rem;	
	display: none;
}
.head img{
	margin-top: .22rem;
	width: .45rem;
	height: .45rem;
	float: right;
}
.bike{
	overflow: hidden;
	position: relative;
	margin-top: .2rem;
}
.bike .button{
	display: inline-block;
	position: absolute;
	width: .28rem;
	height: .28rem;
	box-shadow: 0 0 0 .05rem #FFFFFF inset;
	border: solid #000 1px;
	border-radius: .16rem;
	top:50%;
	transform: translateY(-50%);
	left: .15rem;
	
}
.bike img{
	width: 26%;
	/*height: 2rem;*/
	float: left;
	margin: .2rem .2rem 0 .7rem;	
}
.present{
	float: right;
	width: 59%;
}
.bike p{
	color: #333333;
	font-size: .3rem;
	word-break: break-all;
}
.post span{
	display: inline-block;
	margin-top: .2rem;
	font-size: .24rem;
	color: #999999;
}
.bag{
	margin-right: .5rem;
}
.bike a{
	font-size: .2rem;
	color: #FFFFFF;
	background-color: #33cc33;
	/*display: inline-block;*/
	float: left;
	padding: 0 .25rem;
	margin-top: .2rem;
}
.price{
	margin-top: .15rem;
	padding-bottom: .1rem;
	float: left;
	border-bottom: solid #e5e5e5 1px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.price .now{
	font-size: .2rem;
	color: #ff9900;
	margin: 0;
}
.now span{
	font-size: .3rem;
}
.price .before{
	font-size: .18rem;
	color: #999999;
	padding-top: .1rem;
	text-decoration: line-through;
}
.price p{
	display: inline-block;
	color: #333333;
	font-size: .26rem;
	margin-left: .2rem;
}
.balance{
	overflow: hidden;
	border-top: solid #808080 1px;
	border-bottom: solid #808080 1px;
}
.checkall{
	position: relative;
}
.checkall span{
	/*display: inline-block;*/	
	position: absolute;
	width: .28rem;
	height: .28rem;
	box-shadow: 0 0 0 .05rem #FFFFFF inset ;
	border: solid #000 1px;
	border-radius: .16rem;
	top:-50%;
	transform: translateY(140%);
	left: .15rem;
}
.checkall p{
	position: absolute;
	font-size: .28rem;
	top:50%;
	transform: translateY(100%);
	left:.64rem;
}
.balance .settle{
	font-size: .3rem;
	background-color: #ee8219;
	padding: .35rem .3rem;
	color: #FFFFFF;
	display: inline-block;
}
.total{
	display: inline-block;
	width: 1.8rem;
	overflow: hidden;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2rem;
}
.total p{
	font-size: .24rem;
	float: right;
    margin-right: .2rem;	
}
.total span{
	color:#ee8219 ;
    width: .45rem;
    display: inline-block;
    margin-right: .4rem;
    margin-top: .15rem;
}
.select{
	position: relative;
	float: right;	
}
.settle{
	float: right;
}
.bot{
	width: 100%;
	z-index: 999;
	padding-top: .1rem;
	display: block;
}
.bot li{
	width: 24%;
	display: inline-block;
	text-align: center;
}
.bot a{
	color: #808080;
	font-size: .2rem;
	display: block;
}
.bot li img{
	display: inline-block;
}
.location{
	position: fixed;
	bottom:0;
	width: 100%;
	background-color: #FFFFFF;
}
.occupy{
	/*width: 100%;*/
	height: 2.2rem;
}
.shopcar a{
	color: #33ccff;
}
.blue{
	background-color: #33ccff!important;
}
.muiltiple{
	margin-right: .25rem;
}
