.top_nav{
	background: #33CCFF;
	color: white;
	line-height: 1rem;
	position: relative;
}
.top_nav span:nth-child(1){
	font-size: .28rem;
	position: absolute;
	left: .2rem;
}
.top_nav span:nth-child(2){
	font-size: .32rem;
	display: block;
	text-align: center;		
}
.top_nav img{
	position: absolute;
	right: .2rem;
	top: 50%;
	transform: translateY(-50%);
}
.content_one{
	display: flex;
	position: relative;
	margin-top: .1rem;
}
.content_one img{
	padding-left: .7rem;
}
.right{	
	flex: 1;
	border-bottom: 1px solid #e5e5e5;
	line-height: .38rem;
	margin-left: .4rem;
	position: relative;
}
/*.content_one:last-child .right{
	border-bottom: none;
}*/
.right p{	
	font-size: .3rem;
}
.right span{
	font-size: 0.24rem;
	color: #a7a7a7;
	margin: .16rem .4rem .1rem 0;
}
.right span:nth-child(4){
	display: block;
	text-align: center;
	width: 1rem;
	color: white;
	background: #33cc33;
}
.right a{
	display: block;
	padding-right: .3rem;
	float: right;
}
.right strong{
	color: #ff9900;
	font-size: .3rem;
}
.right strong em{
	font-style: normal;
}
.right .OldPrice{
	color: #999999;
	text-decoration: line-through;
	font-style: normal;	
	padding-left: .6rem;
	font-size: .2rem;
}
.right .number{
	font-size: .28rem;
	color: #333333;
	margin-left: .2rem;
}
.round{
	background: white;
	width: .28rem;
	height: .28rem;
	border-radius: 50%;
	border: 1px solid #33ccff;
	position: absolute;
	top: 50%;
	left: .12rem;
}

.cur{
	border-color:#33ccff!important;
}

.cur a{
	display: block!important;
}

.round a{
	width: .15rem;
	height: .15rem;
	background: #33CCFF;
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: .14rem;
	transform: translateY(-50%);
}
.right span.nine{
	background: #ff6666;
}

.settlement{
	position: fixed;
	bottom: 1rem;
	background: white;
	width: 100%;	
	display: flex;
	height: .88rem;
	overflow: hidden;
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
}
.settlement span{
	float: left;
	font-size: .3rem;
}
.information{
	line-height: .9rem;
	flex: 1;
	background: white;
	padding-left: .66rem;
	position: relative;
}
.information_small{
	width: .6rem;
}
.information .ruond{
	display: block;
	background: white;
	position: absolute;
	width: .28rem;
	height: .28rem;
	border-radius: 50%;
	border: 1px solid #5d5d5d;
	top: 50%;
	transform: translateY(-50%);
	left:.12rem;
}
.information .bottom_round{
	top: 50%;
	transform: translateY(-50%);
}
.shopCart{
	font-size: .2rem;
	padding-right: .2rem;
}
.shopCart strong{
	color: #ee8219;
}
.shopCart i{
	display: block;	
	text-align: right;
}
.buy{
	flex: 1;
	color: white;
	background: #ee8219;
	text-align: center;
	line-height: .88rem;
	
}
.bottom_nav{
	border-top: 0.02rem solid #e5e5e5;
	position: fixed;  
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background: white;
}
.bottom_nav ul{
}
.bottom_nav ul li{
	padding-top: 0.22rem;
	float: left;
	width: 25%;
	margin: 0 auto;
}
.bottom_nav ul li i{
	width: 25px;
	height: 25px;
	margin: 0 auto;
	display: block;
	background: url(../image/dang_back03.png);
	background-size: 50px 100px;
}
.bottom_nav ul li span{
	line-height: 0.4rem;
	font-size: 0.2rem;
	display: block;
	color: #555;
	text-align: center;
}
.tips .cur{
	background-position-x: -25px!important;
}