.top_nav{
	line-height: .88rem;	
	background: #33ccff;
	position: relative;
}
.top_nav p{
	color: white;
	font-size: .3rem;
	text-align: center;
}
.top_nav a{	
	position: absolute;
	left: .2rem;
	top: 50%;	
	width: .16rem;
	height: .16rem;
	border-bottom: .03rem solid white;
	border-left: .03rem solid white;
	transform: translateY(-50%) rotate(45deg);
	cursor: pointer;
}
.content{	
}
.content ul{
	margin: .5rem;
}
.content ul li{
	margin-bottom: .3rem;
	height: .8rem;
	display: flex;
}
.content ul li input{
	width: 100%;
	border: 1px solid #e9e9eb;
	border-radius: .13rem;
	padding-left: .3rem;
	height: .78rem;
	font-size: .24rem;
	color: #c1c1c1;
	outline: none;
	box-sizing: border-box;
}
.content ul li button{
	margin-left: .1rem;
	color: white;
	font-size: .24rem;
	line-height: .78rem;
	border: 1px solid #fa6c62;
	background: #fa6c62;
	border-radius: .2rem;
	display: block;
	text-align: center;
	width: 50%;
}
.content .login{
	margin-top: 1rem;
	color: white;
	background: #33CCFF;
	margin-bottom: .2rem;
}
