	/*头部*/
	.head{
		width: 100%;
		height: 1.6rem;
		background: #33ccff;
		color: #FFFFFF;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.4rem;
	}
	.head_left span:nth-of-type(1){
		font-size: 0.42rem;
	}
	.head_left{
		position: relative;
		height:1.6rem;
		width: 1.2rem;
	}
	.head_ar{
		display: block;
		width: 0.14rem;
		height: 0.16rem;
		border-right: 1px solid #FFFFFF;
		border-bottom: 1px solid #FFFFFF;
		transform: rotate(45deg) skew(0deg);
		position: absolute;
		top: 0.74rem;
		right: 0rem;
	}
	.classify{
		overflow: hidden;
		border: 1px solid #FFFFFF;
		border-radius: 0.1rem;
		width: 3.2rem;
		height: 0.9rem;
		line-height: 0.9rem;
	}
	.classify a{
		display: block;
		font-size: 0.36rem;
		height: 100%;
		width: 50%;
		text-align: center;
		float: left;
		background: #bfe6f3;
		color: #33ccff;
	}
	.article{
		background: #33ccff!important;
		color: #FFFFFF!important;
	}
	.head_img{
		width: 0.8rem;
		height: 0.78rem;
	}
	.list{
		margin-bottom: 2rem;
		display: block;
	}
	.list1{
		margin-bottom: 2rem;
		display: none;
	}
	/*商品列表*/
	.ware{
		overflow: hidden;
		display: flex;/*为了左边的图片居中*/
		display: -webkit-flex;
	}
	.ware_pic{
		width: 40%;
		float: left;
		text-align: center;/*为了左边的图片左右居中*/
		align-self: center;/*为了左边的图片上下居中*/
	}
	.ware_pic img{
		width: 3.4rem;
		height: 3.4rem;
		/*width: 90%;*/
	}
	.ware_explain{
		width: 60%;
		height: 100%;
		float: right;
		padding-left: 0.1rem;
		border-bottom: 1px solid #e5e5e5;
	}
	.ware_explain p:nth-of-type(1){
		font-size: 0.3rem;
		font-weight: 600;
		color: #333333;
		margin: 0.3rem 0rem;
	}
	.ware_explain p:nth-of-type(2){
		font-size: 0.3rem;
		color: #999999;
		margin: 0rem 0rem 0.3rem 0rem;
	}
	.ware_explain p:nth-of-type(2) span:nth-of-type(2){
		margin: 0rem 1rem;
	}
	.ware_explain a{
		font-size: 0.3rem;
		display: block;
		color: #FFFFFF;
		width: 1.6rem;
		height: 0.6rem;
		line-height: 0.6rem;
		background: #33cc33;
		text-align: center;
		margin: 0rem;
		
	}
	.ware_explain p:nth-of-type(3){
		font-size: 0.3rem;
		margin: 0.3rem 0rem;
	}
	.ware_explain p:nth-of-type(3) span:nth-of-type(1){
		color: #ff9900;
	}
	.ware_explain p:nth-of-type(3) span:nth-of-type(2){
		font-size: 0.4rem;
		color: #ff9900;
	}
	.ware_explain p:nth-of-type(3) span:nth-of-type(3){
		margin-left: 0.4rem;
		color: #c3c3c3;
		text-decoration: line-through;
	}
	.ware_explain p:nth-of-type(3) span:nth-of-type(4){
		color: #c3c3c3;
		text-decoration: line-through;
	}
	.ware_explain p:nth-of-type(3) span:nth-of-type(5){
		font-size: 0.08rem;
		color: #c3c3c3;
		margin-left: 1rem;
	}
	
	
	
	/*页尾*/
	.foot{
		width: 100%;
		height: 1.6rem;
		padding: 0.2rem 0 0 0;
		background-color: #FFFFFF;
		border-top: 1px solid #c3c3c3;
		position: fixed;
		bottom: 0;
	}
	.foot_warelist{
		overflow: hidden;
	}
	.foot_warelist li{
		width: 25%;
		float: left;
		color: #808080;
		font-size: 0.34rem;
		text-align: center;
	}
	.foot_warelist span{
		display: block;
	}
	.foot_warelist li:nth-of-type(3) span{
		color: #33CCFF;
	}
	.foot_warelist li img{
		margin-bottom: 0.14rem;
	}
	.foot_warelist li:nth-of-type(1) img{
		width: 0.64rem;
		height: 0.64rem;
	}
	.foot_warelist li:nth-of-type(2) img{
		width: 0.62rem;
		height: 0.64rem;
	}
	.foot_warelist li:nth-of-type(3) img{
		width: 0.62rem;
		height: 0.64rem;
	}
	.foot_warelist li:nth-of-type(4) img{
		width: 0.62rem;
		height: 0.64rem;
	}
	
