	body{
		background-color: #eeeeee;
	}
	.intercalate{
		background-color: #FFFFFF;
		padding-left: 0.3rem;
	}
	.intercalate li{
		border-bottom: 1px solid #EEEEEE;
		font-size: 0.3rem;
		height: 0.9rem;
		line-height: 0.9rem;
		position: relative;
	}
	.intercalate li:nth-of-type(1){
		height: 1.8rem;
		line-height: 1.8rem;
	}
	.intercalate li span:nth-of-type(2){
		font-size: 0.24rem;
		color: #777777;
		position: absolute;
		top: 50%;
		right: 0.7rem;
		transform: translate(0,-50%);
	}
	
	/*箭头*/
	.arrow {
		display: block;
		width: 0.2rem;
		height: 0.2rem;
		border-right: 2px solid #d0c9c9;
		border-bottom: 2px solid #d0c9c9;
		position: absolute;
		right: 0.3rem;
		top: 50%;
		transform: translate(0,-50%) rotate(-45deg);
	}
	/*头像*/
	.intercalate_head{
		display: inline-block;
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 0.6rem;
		border: 1px solid #707070;
		background: url(../img/member-1.jpg)50% 50% no-repeat;
		background-size: 100% auto;
		
	}
	
