	/*页尾*/
	.foot{
		width: 100%;
		background-color: #FFFFFF;
		position: fixed;
		bottom: 0;
	}
	/*页尾用户商品按钮部分*/
	.foot_warelist{
		border-top: 1px solid #c3c3c3;
		overflow: hidden;
	}
	.foot_warelist li{
		width: 25%;
		float: left;
		color: #808080;
		font-size: 0.2rem;
		text-align: center;
		margin: 0.13rem 0;
	}
	.foot_warelist span{
		display: block;
	}
	.foot_warelist li:nth-of-type(2) span{
		color: #33CCFF;
	}
	.foot_warelist li img{
		margin-bottom: 0.14rem;
		width: 0.44rem;
		height: 0.44rem;
	}