	.register{
		width: 100%;
		height: 1.6rem;
		overflow: hidden;
	}

	.phone_reg{
		display: block;
		width: 50%;
		height: 1.6rem;
		line-height: 1.6rem;
		text-align: center;
		font-size: 0.4rem;
		float: left;
		color: #666666;
		border-bottom: 1px solid #dddddd;
	}
	.mail_reg{
		display: block;
		height: 1.6rem;
		line-height: 1.6rem;
		font-size: 0.4rem;
		text-align: center;
		float: right;
		color: #666666;
		width: 50%;
		border-bottom: 3px solid  #33ccff;
	}
	/*输入真实邮箱 密码  验证码*/
	.btn_proving{
		margin: 0.8rem 0.7rem;
		border: 1px solid #c9c9c9;
		border-radius: 0.14rem;
		position: relative;
	}
	.btn_proving input{
		width: 100%;
		padding-left: 1.4rem;
		font-size: 0.36rem;
		border: 0;
		outline: none;
		height: 1.6rem;
	}
	
	.btn_proving input::-webkit-input-placeholder{
		color: #bfbfbf;
		font-size: 0.36rem;
	}
	.phone_ipt{
		background: url(../img/register/icon_2.png)0.32rem 50% no-repeat;
		background-size: 0.52rem 0.8rem;
		border-bottom: 1px solid #c9c9c9!important;
		display: none;
	}
	.mail_ipt{
		background: url(../img/register/icon_03.png)0.3rem 50% no-repeat;
		background-size: 0.64rem 0.64rem;
		border-bottom: 1px solid #c9c9c9!important;
		display: block;
	}
	.pwd_ipt{
		background: url(../img/register/icon_07.png)0.3rem 50% no-repeat;
		background-size: 0.7rem 0.78rem;
		border-bottom: 1px solid #c9c9c9!important;
	}
	.code_ipt{
		background: url(../img/register/icon_11.png)0.3rem 50% no-repeat;
		background-size: 0.78rem 0.78rem;
	}
	.btn_proving img{
		width: 2rem;
		height: 0.8rem;
		position: absolute;
		bottom: 0;
		right: 0.5rem;
		transform: translate(0rem,-0.4rem);
	}
	
	.foot{
		width: 100%;
		padding: 0rem 0.7rem 0rem 0.7rem;
	}
	.reg{
		width: 100%;
		height: 1.2rem;
		line-height: 1.2rem;
		display: block;
		background-color: #33CCFF;
		color: #FFFFFF;
		font-size: 0.4rem;
		text-align: center;
		border-radius: 0.14rem;
		outline: none;
		border: 0;
	}
	
	
