html{
	font-size: 100px;
}
.blue{
	background-color: #33ccff;
	height: 2.3rem;
	text-align: center;
	position: relative;
}
.blue p{
	font-size: .3rem;
	color: #fff;	
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
}
.blue span{
	display: inline-block;
	width: .2rem;
	height: .2rem;
	border-left: solid #fff .04rem;
	border-top: solid #fff .04rem;
	-webkit-transform:rotate(5deg);
	-webkit-transform:skew(40deg,-40deg);
	/*float: left;*/
	margin-left: .2rem;
	position: absolute;
	left: 4%;
	top: 50%;
}
.zhuce{
	overflow: hidden;
}
.zhuce a:hover{
	border-bottom: solid #33ccff .03rem;
	padding: .19rem 0;
}
.zhuce a{
	width: 50%;
	text-decoration: none;
	color: #333;
	font-size: .3rem;
	display: inline-block;
	float: left;
	text-align: center;
	padding: .2rem 0;
	border-bottom: solid #ddd 1px;
}
input{
	display: block;
	border: solid #333 0;
	border-bottom: solid #ddd 1px;
	width: 85%;
	margin: 0 auto;
	margin-top: 1rem;
	padding: .2rem 0;
	padding-left: .8rem;
	font-size: .24rem;
}
.emal{
	background: url("img/images/注册_03.png")0 50% no-repeat;
	/*background-size: 5%;*/
}
.nub{
	background: url("img/zc_06.png")0 50% no-repeat;
	/*background-size: 5%;*/
}
.code{
	background: url("img/zc_13.png")0 50% no-repeat;
	/*background: url("img/zc_10.png")80% 50% no-repeat;*/
	/*background-size: 7%;*/
	border-bottom: solid red 0;
}
.go{
	position: relative;
}
i{
	background: url("img/zc_10.png")100% 50% no-repeat;
	display: block;
	width: 2rem;
	height: 1.2rem;
	background-size: 100%;
	position: absolute;	
	right: 10%;
	bottom: 30%;	
}
.bot{
	text-decoration: none;
	display: block;
	font-size: .3rem;
	color: #FFFFFF;
	background-color: #33ccff;
	padding: .2rem 0;
	width:85%;
	margin: 1rem auto;
	text-align: center;
	border-radius: .1rem;
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	
}
