<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Vue练习</title>
    <script type="text/javascript" src="js/vue.js" ></script>
    <style>
    	.span7{
    		color: red;
    	}
    </style>
</head>
<body>
	<div id="div_1">
		<p>{{ _message }}</p>
		<input type="text" v-model="message" />
	</div>
	
	<div id="ul_1">
		<ul  v-for="tab in tabs">
			<li>
				{{ tab.text }}
			</li>
			<li>
				{{ tab.tb }}
			</li>
		</ul>
	</div>
	<div id="example-5">
	  <select v-model="selected">
	    <option disabled value="">请选择</option>
	    <option>A</option>
	    <option>B</option>
	    <option>C</option>
	  </select>
	  <span>Selected: {{ selected }}</span>
	</div>
	<div id="ex_6">
		<span v-for="name in names">{{ name.text | sumname }}</span>
		<span v-for="age in ages">{{ age.text | sumage }}</span>
	</div>
	<div id="ex_7">
		 <span :class="{span7:span_7}">{{ color }}</span>
		 <button @click="btn">点击</button>
	</div>
	<script>
		Vue.filter("sumname",function(value){
			return value.charAt(0) == "张";
		});
		Vue.filter("sumage",function(value){
			return value=12;
		});
		var vm4=new Vue({
			el:'#ex_6',
			data:{
				items: [{name:"姚胤",age:12}
				]
			}
		})
		var vm5=new Vue({
			el:"#ex_7",
			data:{
				span_7:false,
				color:"点击改变字体颜色"
			},
			methods:{
				btn:function(){
					this.span_7=true;
				}
			}
		})
		var vm=new Vue({
			el:'#div_1',
			data:{
				message:"默认值"
			},
			computed:{
				_message:function(){
					return this.message+Date()
				}
			}
		})
		
		var vm_1=new Vue({
			el:"#ul_1",
			data:{
				tabs:[
					{
						text:'1',
						tb:"2"					
					},
					{
						text:"1",
						tb:'2'
					}
				]
			}
		})
		
		var vm3=new Vue({
		el: '#example-5',
		  data: {
		    selected: ''
		  }
		})


	</script>
</body>
</html>